html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#header {
    background: black url('http://lorempixel.com/1080/200/technics/') center no-repeat;
    position: relative;
}

#header h1 {
    background-color: rgba(256,256,256,0.6);
    font-size: 4.5em;

    position: absolute;
    bottom: 10px;
    right: 20px;
}

#input-form .alert{
    margin: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#input-form .required {
    color: red;
}

footer {
    height: 60px;
}

footer .container {
    background-color: #f8f8f8;
}

